body {
  font-family: Arial, sans-serif;
  background-color: background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
}

h2 {
  color: #8E2DE2; 
  margin-top: 40px;
}




table {
  border-collapse: separate;
  border-spacing: 10px;
   
}

td {
  padding: 5px;
  font-size: 16px;
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 8px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}
